<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nexus // Access Panel</title> <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/ti-icons/css/themify-icons.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='vendors/css/vendor.bundle.base.css')}}"> <!-- endinject -->
  <link rel="stylesheet" href="{{url_for('static',filename='css/vertical-layout-dark/style.css')}}"> <!-- endinject -->
  <link rel="shortcut icon" href="{{url_for('static',filename='img/logo/nexus-icon.png')}}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"> <a class="navbar-brand brand-logo mr-5" href="{{url_for('static',filename='index.html')}}"><img
            src="{{url_for('static',filename='img/logo/nexus-gradient-full.svg')}}" class="mr-2" alt="logo" /></a> <a class="navbar-brand brand-logo-mini" href="{{url_for('static',filename='index.html')}}"><img
            src="{{url_for('static',filename='img/logo/nexus-icon-white.svg')}}" alt="logo" /></a> </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end"> <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize"> <span class="ti-layout-grid2"></span> </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon"> <span class="input-group-text" id="search"> <i class="ti-search"></i> </span> </div> <input type="text" class="form-control" id="navbar-search-input"
                placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-settings d-none d-lg-flex"> <a class="nav-link" href="#"> <i class="ti-more"></i> </a> </li>
        </ul>
      </div>
    </nav> <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-5 mb-4 mb-xl-0">
                  <h4 class="font-weight-light col-12 " style="font-size: 40px;" >Welcome, {{ user_info["name"] }}!</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Choose Pinner</h4>
                  <p class="card-description">
                    Enter your Pinning Ceremony pinner's information here to grant them pinning privileges in the Nexus™.
                  </p>
                  <form class="form-inline">
                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Steve Murray">

                    <label class="sr-only" for="inlineFormInputGroupUsername2">Email Address</label>
                    <div class="input-group mb-2 mr-sm-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>
                      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="smurray@lawrenceville.org">
                    </div>


                    <button type="button" class="btn btn-primary btn-icon-text">
                          <i class="ti-save btn-icon-prepend"></i>
                          Submit
                        </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Downloads</h4>
                  <p class="card-description">Add class <code>.btn-block</code></p>
                  <button type="button" class="btn btn-lg btn-block" style="background-image: linear-gradient(#FE5B34, #FE378C)">
                    <i class="ti-download"></i>
                    Download Nexus™ Cloud
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between"> <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="http://www.thenexus.cloud/"
                target="_blank">Nexus</a>. All rights reserved.</span> <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span> </div>
        </footer> <!-- partial -->
      </div> <!-- main-panel ends -->
    </div> <!-- page-body-wrapper ends -->
  </div> <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script> <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{url_for('static',filename='vendors/chart.js/Chart.min.js')}}"></script> <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/template.js')}}"></script>
  <script src="{{url_for('static',filename='js/settings.js')}}"></script>
  <script src="{{url_for('static',filename='js/todolist.js')}}"></script> <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script> <!-- End custom js for this page-->
</body>

</html>
